



a{color:black} /*mettre lien cliquable dans une autre couleur*/
a:link{ text-decoration:none;}/*enlever soulignement lien cliquable*/

html,body{height: 100%;}
body{
  background-color:#D8D8D8
;

}


header{
height:35%;
}

h1{
text-align: center;
color:black;
font-size: 60%;
}


h2{
  color:#8A084B;
  text-align: center;
  font-size: 180%;

}

h5{
  text-align: center;
  color: white;
  font-size: 200%;
}

nav{
  color: #8A084B;
  font-size: 200%;
}


#gauche1{
  border-radius: 3%;

  border-width:3%;
  border-style: solid;
  border-color:#8A084B;
  background-color:#8A084B	;
  width: 30%;
  height: 60%;
  margin: 0;
  position: absolute;
  top: 35%;
color: white;

}

.img1{
float: left;
}

.img2{
  float: left;
}

.img4{
  float: left;
  margin: 2%;
}

.img6{
  float: left;
  margin: 2%;
}

.texte6{
  text-align: left;
margin: 2%;
}



.img3{
  float: left;
  margin: 5%;
}

.texte4{
  text-align: left;
margin: 2%;}

.texte1{
  float: right;
  font-size: 105%;
  display: inline-block;

}

.texte2{
  font-size: 100%;
  text-align: left;
}



#gauche2{
  border-radius: 3%;

  border-width:3%;
  border-style: solid;
  border-color:#8A084B;
  background-color:#8A084B	;
  height: 60%;
  width: 30%;

  margin: 0;
  position: absolute;
  color: white;
top:105%;

}

#droite{
  border-radius: 3%;

margin-left: 60%;
 border-width:3%;
  border-style: solid;
  border-color:#8A084B;
  background-color: #D8D8D8;
  height: 55%;
  width: 66%;

  margin: 0;
  position: absolute;
  top:35%;
  left: 33%;
}

.texte3{
  text-align: left;
  font-size: 100%;
  margin: 1%;
  font-family:cursive;
}


#droite1{
  border-radius: 3%;

  margin-left: 60%;
   border-width:3%;
    border-style: solid;
    border-color:#8A084B;
    background-color: #D8D8D8	;
    height: 36%;
    width: 66%;
    margin: 0;
    position: absolute;
    top:94.5%;
    left:33%;
}

#droite2{
  border-radius: 3%;

  margin-left: 30%;
   border-width:3%;
    border-style: solid;
    border-color:#8A084B;
    background-color: #D8D8D8;
    height: 31%;
    width: 66%;
    margin: 0;
    position: absolute;
    top:135%;
    left: 33%
}

.texte{
  text-align: left;
  font-size: 50%;
}

#encadrement{
  border-width:3%;
  border-radius: 3%;
  border-style: solid;
  border-color:#8A084B;
  background-color: #8A084B;
  height: 70%;
  width: 80%;
  margin: 0;
  position: absolute;
  top: 200%;
  right:10%;

}

#sousencadrement2{
  border-width:3%;
  border-style: solid;
  border-color:#8A084B;
  background-color:#D8D8D8	;
  height: 65%;
  width: 55%;
  margin: 2%;
  position: absolute;
  top:25%;


}

#sousencadrement1{

  border-width:3%;
  border-style: solid;
  border-color:#8A084B;
  background-color: #E3DEDE	;
  height: 65%;
  width: 35%;
  margin: 2%;
  position:absolute;
    top:25%;
    right:0.5%;
}



.progress{
  float: right;
  font-size: 100%;
}

.texte7{
  float: left;
  font-size: 105%;

}




@media only screen and (max-width:640px)
{

 #droite,#droite1,#droite2,#gauche1,#gauche2,#encadrement,#sousencadrement1,#sousencadrement2
   {
   position:relative;
float: left;
width: 100%;
height: 100%;
left: -1.5%;
margin: 2%;
  }

  .img4,.texte4{
    margin:15%;

  }

  .img6{
    float: left;
    margin: 10%;
  }

  .texte6{
    text-align: left;
  margin: 10%;
  }

}


@media only screen and (max-device-width:1024px) {
  .texte1,.texte2{
    float: left;
    font-size: 90%;
    display: inline-block;
  }

  .img4,.texte4{
    margin:5%;

  }
}


  @media only screen and (max-device-width:1280px) {
    .texte1,.texte2,.img2{
      float:left;
      font-size: 100%;
    }

    .img4{
      float: left;
      width: 3%;


    }
    .texte4{
      float: right;
    }
    
   
}



  @media only screen and (max-device-width:1920px) {
    .texte1,.texte2,.img2{
      float:left;
      font-size: 100%;
      }

}


      /* orientation iOS font-size fix */
      @media (orientation: landscape) and (max-device-width: 768px) {
      	html,
      	body {
      		-webkit-text-size-adjust: 100%;
      	}
      }
